/*CSS Reset*/
*{
    margin: 0px;
    padding: 0px;
    
}

::-webkit-scrollbar{
    display: none;
}

.body{
    height: 5000px;
    width: 2000 px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/*CSS Variable*/

:root{
    --navbar-height: 59px;
}

/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;

}

/*Navigation Bar: Logo and Image*/

#logo{
    margin: 34px 45px;
    
    
    
}
#logo img{
    height: 100px;
    margin: -19px -26px;

}

/*List styling*/
#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.1;
}

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 20px;
}
#navbar ul li a{
    color: cyan;
    font-size: 30px;
    padding:3px 22px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;

}


#navbar ul li a:hover{
    color: black;
    background-color: white;
}


/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 430px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background-color: rgba(107, 100, 100, 0.308);
    height: 560px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color: magenta;
    margin-top: 0px;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    font-family: 'Caveat', cursive;
    
}

#home p{
    font-size: 35px;
    color: rgb(18, 142, 214);
    text-align: center;
    padding: 5px;
    font-family: 'Permanent Marker', cursive;
}

.btn{
    font-size: 30px;
    border-radius: 15px;
    border:  3px solid red;
    background-color: cadetblue;
    color: darkmagenta;
    margin: 15px auto;
    padding: 5px 15px;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    
}

.btn:hover{
    color:tomato;
}

/*Services Section*/

.services{
    display: flex;
    
}

#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    width: 50%;
    height: 500px;
    display: block;
    margin: -25px auto;
}


h2{
    text-align: center;
    margin-top: 40px;
    font-size: 60px;
    color: magenta;
    font-family: 'Caveat', cursive;
    font-weight: 900;
}

.center{
    text-align: center;
}

.services-container{
    text-align: center;
}

.h-primary{
    font-size: 3.8rem;
    padding: 0px;
    color: rgb(214, 125, 224);
    font-family: "Permanent Marker", cursive;
}

.h-primary:hover{
    color: red;
    cursor: pointer;
}
    


.box p{
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(15, 233, 160) ;
}

/*Clint Section*/

#client-section::before{
    content: "";
    position: absolute;
    background: url('../Image/MainLogo.png');
    /*background-repeat: repeat-x;*/
    background-repeat: no-repeat; 
    background-size: 20%;
    justify-content: center;
    align-items: center;
    width: 1510px;
    height: 300px;
    z-index: -1;
    margin-top: 70px;
    margin-left: 600px;
    opacity: 0.5;
    
}

#clients{
    display: flex;
    margin-bottom: 15px;
    background-color: rgba(96, 100, 99, 0.267);
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
    /* margin: auto; */
    margin-top: 65px;
}

/*Contact.box*/

#contact{
    position: relative;
    /*background-color: rgb(195, 204, 204);*/
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../Image/contact.jpg') no-repeat center center/cover;
    background-position: center;
    background-size: 100%;
    
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 25px;
    color: purple;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 2.3rem;
    font-family: 'Permanent Marker', cursive;
    color: cadetblue;
}


